@import "../../_styles/_mixins";

$checkbox-size: 1.5rem;
$checkbox-indicator-color: #0796d3;
$checkbox-padding: 3px;
$checkbox-border-radius: 0.25rem;
$checkbox-unchecked-border-color: #b0bbd1;
$checkbox-checked-background-color: #a0dcf6;

.root {
  @include flex-center;
  @include square($checkbox-size);
  padding: $checkbox-padding;
  border-radius: $checkbox-border-radius;
  cursor: pointer;

  &[data-state="unchecked"] {
    border: 1px solid $checkbox-unchecked-border-color;
    background-color: white;
  }

  &[data-state="checked"] {
    border: 1px solid $checkbox-indicator-color;
    background-color: $checkbox-checked-background-color;
  }
}

.indicator {
  @include square(calc($checkbox-size - 2 * $checkbox-padding));
  color: $checkbox-indicator-color;
}
