$input-width: 100%;
$input-height: 51px;
$input-border: 1px solid #d7dde9;
$input-border-radius: 8px;
$input-padding: 16px;
$ring-width: 2px;
$ring-color: #0796d3;

.input {
  border: $input-border;
  border-radius: $input-border-radius;
  font-size: 16px;
  height: $input-height;
  padding: $input-padding;
  width: $input-width;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 $ring-width $ring-color;
  }
  &::placeholder {
    color: #b0bbd1;
  }
}
